<div class="playlist-inner">
	<button class="button" ng-click="onClosePlaylist()">Back</button>
	<ul>
		<li ng-repeat="playlist in playlistNames">
			<a href="#" ng-click="onAddTrackTo($event, playlist.name)">{{playlist.name}}</a>
		</li>
	</ul>
</div>