<li>
	<div class="inner">
		<figure>
			<img ng-src="{{item.album.images[0].url}}">
			<div class="menu">
				<a class="play" href="#" ng-click="onTrackClick($event, item.preview_url)"></a>
				<a class="pause hidden" href="#" ng-click="onTrackClick($event)"></a>
				<button class="add-to-list button" ng-if="!isPlaylistShown && playlistNames.length > 0" ng-click="onAddTrack($event, item.id)">Add To Playlist</button>
				<button class="remove-from-list button" ng-if="isPlaylistShown" ng-click="onRemoveTrack(item.id)">Remove From Playlist</button>
			</div>
		</figure>
		<div class="title">
			<span class="track-name">{{item.name}} by {{item.artists[0].name}}</span>
		</div>
	</div>
</li>