<!DOCTYPE html>
<html ng-app="SWP" class="ng-cloak">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Spotify Web Player</title>
</head>
<body>
	<div ng-controller="playlistController" class="playlist">
		<div class="list">
			<div class="primary-button">
				<a href="#" ng-click="onFormStateChange()">+ New Playlist</a>
			</div>
			<form ng-submit="onCreatePlaylist()" ng-show="showPsForm">
				<div class="form-group">
					<input type="text" id="psInput" maxlength="10" placeholder="Name" ng-model="createdPlaylistName"></input>
				</div>
				<button class="button" type="submit">Create</button>
			</form>
			<ul>
				<li ng-repeat="item in playlistData track by $index">
					<a href="#" ng-click="loadPlaylistData(item.name)">{{item.name}}</a>
					<button class="button" ng-click="onRemovePlaylist(item.name)">x</button>
				</li>
			</ul>
		</div>
		
		<div class="voice">
			<button id="record" class="button" ng-click="startVoice()">Click for voice</button>
			<p ng-if="speechResult">{{speechResult}}</p>
		</div>
	</div>
	<section id="mainContent">
		<div ng-controller="searchController" class="search">
			<form ng-submit="onSubmit()">
				<div class="form-group">
					<input type="text" required placeholder="Search for a song..." ng-model="searchTerm"></input>
					<button type="submit" class="button"></button>
				</div>
				
			</form>
		</div>

		<div ng-controller="songListController" class="content">
			<ul class="clearfix">
				<track-item ng-repeat="item in searchData" track-data="item" is-playlist-shown="isPlaylistShown"></track-item>
			</ul>
			<span>{{errorInCall}}</span>
		</div>
	</section>
</body>
</html>