@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body{
	background:#121314;
	color:#88898c;
	font-family: 'Open Sans', sans-serif;
}
input {font-family: 'Open Sans', sans-serif;}
img{
	width:100%;;
}

a{
	color:#88898c;
}

.ng-cloak{
  	display:none !important;
}

.primary-button{
	background:#121314;
	margin-bottom:5px;

	a{
		padding:15px;
		display:inline-block;
		width:100%;
		text-align:center;
		transition:color .2s ease-out;

		&:hover{
			transition:color .2s ease-out;
			color:white;
		}
	}
}

.hidden{
	display:none;
}

.show-block{
	display:block;
}

.button{
	background:#648f00;
	cursor:pointer;
	border:0;
	border-radius:5px;
	color:white;
	padding:5px 8px;
	outline:none;
}

input[type="text"]{
	padding:5px;
	margin:10px 0;
	border-radius:5px;
	border:none;
	outline:none;
}

.playlist{
	position:fixed;
	top:0;
	left:0;
	width:250px;
	height:100%;
	background:#1c1c1f;
	text-align:center;
    z-index: 3;

	.list{
		form{
			padding:15px;
			margin-bottom:5px;
			background:#121314;

			.form-group{
				width:50%;
				display:inline-block;

				input{
					width:100%;
				}
			}
		}

		li{
			background:#121314;
			margin-bottom:5px;

			a{
				padding:15px;
				width:70%;
				display:inline-block;
				transition:color .2s ease-out;

				&:hover{
					transition:color .2s ease-out;
					color:white;
				}
			}
		}
	}

	.voice{
		border-top:1px solid #648f00;

		button{
			margin:5px auto;
		}

		p{
			background:#121314;
			padding:15px;
		}
	}
}

#mainContent{ 
	margin-left: 250px; 
}

.search{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	padding-left:250px;
	z-index:2;
	background:#121314;

	form{
		.form-group {
			display: block;
			position:relative;

			input {
				width: 100%;
				background:none;
				font-size: 2.5em;
				padding:0.5em 1em;
				display: block;
				color:#fff;
				font-weight:300
			}

			button { 
				background:url('./img/search.png') no-repeat center;
				background-size: 32px auto;
				-webkit-background-size: 32px auto;
				width: 60px;
				height: 60px;
				position:absolute;
				top: 1.3em;
				right: 2em;
				padding:0;
			}
		}
	}
}

.content{
	margin-top:100px;
	padding:0 2em;

	ul{
		li{
			float:left;
			padding:10px;
			width: 20%;
			display:inline-block;
			position:relative;
			margin-bottom: 10px;

			.inner {
				background:#222326;
				&:hover {
					.menu {
						display: block;
					}
				}
			}

			.playlist-inner{
			    background: #222326;
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top: 0;
			    left:0;
			    z-index: 1;

			    button{
			    	float:right;
			    }

			    li{
			    	padding:5px;
			    	float:none;
			    	text-align:center;
			    	width: 100%;
			    	margin-bottom: 0;
			    	border-bottom:1px solid #121314;
			    	a{
			    		display:block;
			    		transition:color .2s ease-out;

						&:hover{
							transition:color .2s ease-out;
							color:white;
						}
			    	}
			    }
			}

			.menu {
				position:absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background:rgba(0,0,0,0.9);

				&:not(.show-block){
					display: none;
				}
				
				a {
					width: 64px;
					height:64px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left:-32px;
					margin-top:-32px;
				}

				.play{
					background:url('./img/play.png') no-repeat;
				}

				.pause{
					background:url('./img/pause.png') no-repeat;
				}

				button{
				    position: absolute;
				    left: 50%;
				    top: 70%;
				    transform:translateX(-50%);
				    -webkit-transform:translateX(-50%);
				}
			}

			figure {
				position:relative;
				padding-bottom: 99.5%;
				overflow:hidden;
				img {
					position:absolute;
					top: 0;
					right: 0;
				}
			}

			.title {
				padding:15px 10px;
				font-size:0.85em;
				line-height: 1.3em;
		      	height: 100px;
		      	display: block;
		      	color:white;
			}
		}
	}
}

/* RESPONSIVE */
@media only screen and (max-width: 1367px) {
  	.content{
  		ul li{
  			width:33.3333%;
  		}
  	}
}

@media only screen and (max-width: 1020px) {
  	.content{
  		ul li{
  			width:50%;
  		}
  	}
}
@media only screen and (max-width: 500px) {
  	.content{
  		ul li{
  			width:100%;
  		}
  	}
}
@media only screen and (max-width: 769px) {
  	.content{
  		ul li{
  			margin-bottom:0;
  			padding:5px;

  			.menu button{
			    top:75%;
	  		}
  		}
  	}

  	.playlist{
  		width:100px;

  		.list form .form-group{
  			width:100%;
  			display:block;
  		}
  	}

  	#mainContent{
  		margin-left:100px;

  		.content{
  			padding:0;
  			margin-top:62px;
  		}
  	}

  	.search{
  		padding-left:100px;
  		height:62px;

  		form .form-group{
  			button{
  				background-size: 16px auto;
			    -webkit-background-size: 16px auto;
			    width: 30px;
			    height: 30px;
  			}

  			input{
  				display:inline;
  				font-size: 1em;
  				padding:0.5em 0.5em;
  			}
  		}
  	}
}

.clearfix:after,
.clearfix:before{
	content:"";
	display:table;
	clear:both;
}